<!-- customer_profile_update.html -->

{% extends 'base.html' %} {% block content %}
<div class="container">
  <h1>Update Customer Profile</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        name="username"
        class="form-control"
        id="username"
        value="{{ customer.username }}"
      />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        name="email"
        class="form-control"
        id="email"
        value="{{ customer.email }}"
      />
    </div>
    <div class="form-group">
      <label for="first_name">First Name</label>
      <input
        type="text"
        name="first_name"
        class="form-control"
        id="first_name"
        value="{{ customer.first_name }}"
      />
    </div>
    <div class="form-group">
      <label for="last_name">Last Name</label>
      <input
        type="text"
        name="last_name"
        class="form-control"
        id="last_name"
        value="{{ customer.last_name }}"
      />
    </div>
    <div class="form-group">
      <label for="profile_picture">Profile Picture</label>
      <input
        type="file"
        name="profile_picture"
        class="form-control-file"
        id="profile_ picture"
      />
    </div>
    <button type="submit" class="btn btn-primary">Update Profile</button>
  </form>
</div>
{% endblock %}
